html, body {
	width:100%;
	height:100%;
	padding:0 !important;
	margin:0;
}

*:focus {
	outline: 0 !important;
	box-shadow:none !important;
	border-color:transparent !important;
}

body {
	color:#453E36;
	background-color: #eee;
	font-family: "Roboto", "Lato", sans-serif;
}

.firstCarst, .firstCarst:hover {
	background-color:transparent !important;
}

.firstCarst:active {
	background-color:#fff !important;
}

.term::selection, .description::selection, .container::selection{ background-color: transparent;}
.term::moz-selection, .description::moz-selection, .container::moz-selection{ background-color: transparent;}
.term::webkit-selection, .description::webkit-selection, .container::webkit-selection{ background-color: transparent;}

#autocomplete {
	cursor:pointer;
	font-size:1.2em;
	width:670px;
	position: absolute;
	box-sizing: border-box;
	border:1px solid #ccc;
	right:170px;
	bottom:125px;
	background-color:rgba(255,255,255,0.95);
	visibility: hidden;
}

#autocomplete .entry {
	height:50px;
	width:100%;
	position:relative;
}

.entry:not(:last-child) {
	border-bottom:2px solid rgba(88,88,88, 0.2);
}

#autocomplete .entry:hover,
.entry_active {
	background-color:rgba(87,124,111, 0.2);
}


#autocomplete .term {
	position:absolute;
	left:10px;
	top:50%;
	transform: translate(0, -50%);
}

#autocomplete .description {
	font-size:0.9em;
	color:#888;
	font-style: italic;
	position:absolute;
	right:10px;
	top:50%;
	transform: translate(0, -50%);
}

.jumbotron {
	width:100%;
	height:100%;
	background-color:transparent;
	padding:0;
	margin:0;
}

.ui-tabs {
	position: inherit !important;
}

#header {
	text-align: center;
	height:580px;
	background-color:#577C6F;
	background-image:url(../img/bg1.jpg);
	background-repeat:no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

input[type=text], button, .dropdown-menu {
	background-color:#fff !important;
	border:none  !important;
	border-radius: 0  !important;
	color:#5A5555 !important;
}

.tooltip-inner {
	background-color:#577C6F !important;
}

.tooltip-arrow {
	border-top-color:#577C6F !important;
}

.dropdown-menu {
	font-size:1.3em;
	margin-left:24px;
	margin-top:-65px;
}

.panel {
	border:none;
	box-shadow:none;
}

#nav {
	height:70px;
	width:100%;
}

#detailscreen-container {
	padding:3vh;
	padding-bottom:0.1vh !important;
	background-color:#fff;
	width:1200px;
	margin:auto;
	margin-bottom:3vh;
}

.holder {
	text-align:center;
	width:100%;
}

.wrapper {
	display:inline-block;
	width:250px;
	margin:30px;
	margin-left:6vw;
	margin-right:6vw;
}
.container {
	font-size:1.3em;
	margin: 10px;
	padding: 20px;
	cursor: pointer;
	background-color:rgba(87,124,111, 0.2);
}

.container:hover {
	background-color:rgba(87,124,111, 0.6);
}

.container-active {
	cursor:default;
	background-color:#577C6F !important;
	color:white;
}

.container-blink {
	cursor:default;
	background-color:#FAEEC4 !important;
}

.slider-handle {
	background-color:#577C6F !important;
	background-image: none !important;
	opacity:1 !important;
}

.slider-selection {
	background-color:#577C6F !important;
	background-image:none !important;
}

#detailscreen {
}

.borderTop {
	border-top:1px solid #cccccc;
}

.borderBottom {
	border-bottom:1px solid #cccccc;
}


.newCarst {
	display:block !important;
	height:37px;
	box-sizing: border-box;
	padding:8px;
	padding-left:20px;
	margin-right:80px;
	width:80%;
}

#playlistTitle {
	font-size:1.3em;
	width:300px;
	margin-left:-3px;
	margin-bottom:15px;
}

.button {
	background-color:#577C6F !important;
	color:#ffffff !important;
	padding:7px;
	cursor:pointer;
}

.glyphicon-remove {
	color:#ccc;
}

.contenteditable {
	padding: 5px;
	margin:5px;
	background-color:#ffffff;
	border:1px solid #eee;
	border-radius: 4px;
	outline: none;
}

.editcolor {
	background-color:papayawhip;
	color:#080808;
	font-weight: normal;
}

.errorPlaylist {
	background-color:blue;
	border: 1px solid crimson !important;
}

.alert {
	display:none;
}

.dragged {
	background-color:red;
}

.carst-item:last-child,
.carst-placeholder {
	margin-bottom: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.carst-item:first-child,
.carst-placeholder {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.carst-item,
.carst-placeholder {
	font-size:1.3em;
	cursor: move;
	height:50px;
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	padding:40px;
}

.carst-placeholder {
	background-color:#dddddd;
}

.head-circle {
	position: relative;
	background-color:#C5E1A5;
	height:250px;
	width:400px;
	border-radius:50px;
	border-top-left-radius:400px;
	border-top-right-radius:400px;
	text-align:center;
	margin-bottom:30px;
	color:grey;
}

.heading {
	font-size:8em;
}

.vabsolutep {
	position:absolute;
	top:0px;
	bottom:0;
	margin:auto;
}

.playlist-item,
.playlist-placeholder {
	display: block;
	height:100px;
}

.playlist-placeholder {
	background-color:#dddddd;
}

.active-carst {
	padding-left:0px;
	padding-right:0px;
	margin:0px;
	min-width:0px !important;
	background-color:rgba(87,124,111, 0.1) !important;
	color:#fff !important;
}

.no-item {
	margin-top:-15px;
	cursor:default;
}

.no-item:hover {
	background-color:transparent;
}

.playlist-item,.playlist-item:hover {
	background-color:#eee;
	border:1px solid #ddd;
}

.event-item {
	cursor:default;
	background-color:transparent !important;
}

#chromeextension {
	color:#C0C6CC;
	position:absolute;
	right:0;
	top:0;
	display:none;
}

#addconfig {
	display:none;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
	#chromeextension, #addconfig{
		display:block;
	}
}

.nono {
	height:10px;
	position:relative;
	top:-17px;
	background:transparent;
}