body {
	color:#453E36;
	background-color: #fff;
	padding: 18px;
	font-family: "Lato", sans-serif;
}

.jumbotron {
	background-color:#fff;
}

.borderTop {
	border-top:1px solid #cccccc;
}

.borderBottom {
	border-bottom:1px solid #cccccc;
}


.newCarst {
	display:block !important;
	height:37px;
	box-sizing: border-box;
	padding:8px;
	padding-left:20px;
	margin-right:80px;
	width:80%;
}

#playlistTitle {
	font-size:1.3em;
}

.contenteditable {
	padding: 5px;
	margin:5px;
	background-color:papayawhip;
	border:none;
	border-radius: 4px;
	outline: none;
}

.editcolor {
	background-color:papayawhip;
	color:#080808;
	font-weight: normal;
}

.errorPlaylist {
	background-color:blue;
	border: 1px solid crimson !important;
}

.alert {
	display:none;
}

.dragged {
	background-color:red;
}

.carst-item:last-child,
.carst-placeholder {
	margin-bottom: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.carst-item:first-child,
.carst-placeholder {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.carst-item,
.carst-placeholder {
	cursor: move;
	height:45px;
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.carst-placeholder {
	background-color:#dddddd;
}

.head-circle {
	position: relative;
	background-color:#FAF3ED;
	height:250px;
	width:400px;
	border-radius:50px;
	border-top-left-radius:400px;
	border-top-right-radius:400px;
	text-align:center;
	margin-bottom:30px;
	color:grey;
}

.heading {
	font-family: league-gothic;
	font-size:8em;
}

.vabsolutep {
	position:absolute;
	top:0px;
	bottom:0;
	margin:auto;
}

.playlist-item,
.playlist-placeholder {
	display: block;
	height:100px;
}

.playlist-placeholder {
	background-color:#dddddd;
}