body {
	color:#453E36;
	background-color: #fff;
	padding: 18px;
	font-family: "Lato", sans-serif;
}

.jumbotron {
	background-color:#fff;
}

.borderTop {
	border-top:1px solid #cccccc;
}

.borderBottom {
	border-bottom:1px solid #cccccc;
}


.newCarst {
	display:block !important;
	height:37px;
	box-sizing: border-box;
	padding:8px;
	padding-left:20px;
	margin-right:80px;
	width:80%;
}

#playlistTitle {
	font-size:1.3em;
}

.contenteditable {
	padding: 5px;
	margin:5px;
	background-color:papayawhip;
	border:none;
	border-radius: 4px;
	outline: none;
}

.editcolor {
	background-color:papayawhip;
	color:#080808;
	font-weight: normal;
}

.errorPlaylist {
	background-color:blue;
	border: 1px solid crimson !important;
}

.alert {
	display:none;
}

.dragged {
	background-color:red;
}

.carst-item:last-child,
.carst-placeholder {
	margin-bottom: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.carst-item:first-child,
.carst-placeholder {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.carst-item,
.carst-placeholder {
	cursor: move;
	height:45px;
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.carst-placeholder {
	background-color:#dddddd;
}

.head-circle {
	position: relative;
	background-color:#FAF3ED;
	height:250px;
	width:400px;
	border-radius:50px;
	border-top-left-radius:400px;
	border-top-right-radius:400px;
	text-align:center;
	margin-bottom:30px;
	color:grey;
}

.heading {
	font-family: league-gothic;
	font-size:8em;
}

.vabsolutep {
	position:absolute;
	top:0px;
	bottom:0;
	margin:auto;
}

.playlist-item,
.playlist-placeholder {
	display: block;
	height:100px;
}

.playlist-placeholder {
	background-color:#dddddd;
}

.tooltip {
	min-width: 400px !important;
	max-width:600px !important;
}

.carst-item:hover {
	background-color:#FAF3ED;
}

.active-carst {
	background-color:#FAEADC !important;
}

.btn {
	background-color:#FAF3ED;
}

#fountainG{
	position:relative;
	width:124px;
	height:15px}

.fountainG{
	position:absolute;
	top:0;
	background-color:#000000;
	width:15px;
	height:15px;
	-moz-animation-name:bounce_fountainG;
	-moz-animation-duration:1.3s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-transform:scale(.3);
	-moz-border-radius:10px;
	-webkit-animation-name:bounce_fountainG;
	-webkit-animation-duration:1.3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-webkit-transform:scale(.3);
	-webkit-border-radius:10px;
	-ms-animation-name:bounce_fountainG;
	-ms-animation-duration:1.3s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-transform:scale(.3);
	-ms-border-radius:10px;
	-o-animation-name:bounce_fountainG;
	-o-animation-duration:1.3s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-transform:scale(.3);
	-o-border-radius:10px;
	animation-name:bounce_fountainG;
	animation-duration:1.3s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	transform:scale(.3);
	border-radius:10px;
}

#fountainG_1{
	left:0;
	-moz-animation-delay:0.52s;
	-webkit-animation-delay:0.52s;
	-ms-animation-delay:0.52s;
	-o-animation-delay:0.52s;
	animation-delay:0.52s;
}

#fountainG_2{
	left:16px;
	-moz-animation-delay:0.65s;
	-webkit-animation-delay:0.65s;
	-ms-animation-delay:0.65s;
	-o-animation-delay:0.65s;
	animation-delay:0.65s;
}

#fountainG_3{
	left:31px;
	-moz-animation-delay:0.78s;
	-webkit-animation-delay:0.78s;
	-ms-animation-delay:0.78s;
	-o-animation-delay:0.78s;
	animation-delay:0.78s;
}

#fountainG_4{
	left:47px;
	-moz-animation-delay:0.91s;
	-webkit-animation-delay:0.91s;
	-ms-animation-delay:0.91s;
	-o-animation-delay:0.91s;
	animation-delay:0.91s;
}

#fountainG_5{
	left:62px;
	-moz-animation-delay:1.04s;
	-webkit-animation-delay:1.04s;
	-ms-animation-delay:1.04s;
	-o-animation-delay:1.04s;
	animation-delay:1.04s;
}

#fountainG_6{
	left:78px;
	-moz-animation-delay:1.17s;
	-webkit-animation-delay:1.17s;
	-ms-animation-delay:1.17s;
	-o-animation-delay:1.17s;
	animation-delay:1.17s;
}

#fountainG_7{
	left:93px;
	-moz-animation-delay:1.3s;
	-webkit-animation-delay:1.3s;
	-ms-animation-delay:1.3s;
	-o-animation-delay:1.3s;
	animation-delay:1.3s;
}

#fountainG_8{
	left:109px;
	-moz-animation-delay:1.43s;
	-webkit-animation-delay:1.43s;
	-ms-animation-delay:1.43s;
	-o-animation-delay:1.43s;
	animation-delay:1.43s;
}

@-moz-keyframes bounce_fountainG{
	0%{
		-moz-transform:scale(1);
		background-color:#000000;
	}

	100%{
		-moz-transform:scale(.3);
		background-color:#FFFFFF;
	}

}

@-webkit-keyframes bounce_fountainG{
	0%{
		-webkit-transform:scale(1);
		background-color:#000000;
	}

	100%{
		-webkit-transform:scale(.3);
		background-color:#FFFFFF;
	}

}

@-ms-keyframes bounce_fountainG{
	0%{
		-ms-transform:scale(1);
		background-color:#000000;
	}

	100%{
		-ms-transform:scale(.3);
		background-color:#FFFFFF;
	}

}

@-o-keyframes bounce_fountainG{
	0%{
		-o-transform:scale(1);
		background-color:#000000;
	}

	100%{
		-o-transform:scale(.3);
		background-color:#FFFFFF;
	}

}

@keyframes bounce_fountainG{
	0%{
		transform:scale(1);
		background-color:#000000;
	}

	100%{
		transform:scale(.3);
		background-color:#FFFFFF;
	}

}