body {
	text-align: center;
	padding: 100px;
	font-family: "Lato", sans-serif;
	color: gray;
}

.head-circle {
	position: relative;
	background-color:#FAF3ED;
	height:250px;
	width:400px;
	border-radius:50px;
	border-top-left-radius:400px;
	border-top-right-radius:400px;
	text-align:center;
	margin-bottom:30px;
	font-size:112px;
}

.heading {
	font-family: league-gothic;
}

#fountainG{
	position:relative;
	width:250px;
	height:30px}

.fountainG{
	position:absolute;
	top:0;
	background-color:#000000;
	width:31px;
	height:31px;
	-moz-animation-name:bounce_fountainG;
	-moz-animation-duration:1.4s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-transform:scale(.3);
	-moz-border-radius:20px;
	-webkit-animation-name:bounce_fountainG;
	-webkit-animation-duration:1.4s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-webkit-transform:scale(.3);
	-webkit-border-radius:20px;
	-ms-animation-name:bounce_fountainG;
	-ms-animation-duration:1.4s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-transform:scale(.3);
	-ms-border-radius:20px;
	-o-animation-name:bounce_fountainG;
	-o-animation-duration:1.4s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-transform:scale(.3);
	-o-border-radius:20px;
	animation-name:bounce_fountainG;
	animation-duration:1.4s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	transform:scale(.3);
	border-radius:20px;
}

#fountainG_1{
	left:0;
	-moz-animation-delay:0.56s;
	-webkit-animation-delay:0.56s;
	-ms-animation-delay:0.56s;
	-o-animation-delay:0.56s;
	animation-delay:0.56s;
}

#fountainG_2{
	left:31px;
	-moz-animation-delay:0.7s;
	-webkit-animation-delay:0.7s;
	-ms-animation-delay:0.7s;
	-o-animation-delay:0.7s;
	animation-delay:0.7s;
}

#fountainG_3{
	left:63px;
	-moz-animation-delay:0.84s;
	-webkit-animation-delay:0.84s;
	-ms-animation-delay:0.84s;
	-o-animation-delay:0.84s;
	animation-delay:0.84s;
}

#fountainG_4{
	left:94px;
	-moz-animation-delay:0.98s;
	-webkit-animation-delay:0.98s;
	-ms-animation-delay:0.98s;
	-o-animation-delay:0.98s;
	animation-delay:0.98s;
}

#fountainG_5{
	left:125px;
	-moz-animation-delay:1.12s;
	-webkit-animation-delay:1.12s;
	-ms-animation-delay:1.12s;
	-o-animation-delay:1.12s;
	animation-delay:1.12s;
}

#fountainG_6{
	left:156px;
	-moz-animation-delay:1.26s;
	-webkit-animation-delay:1.26s;
	-ms-animation-delay:1.26s;
	-o-animation-delay:1.26s;
	animation-delay:1.26s;
}

#fountainG_7{
	left:188px;
	-moz-animation-delay:1.4s;
	-webkit-animation-delay:1.4s;
	-ms-animation-delay:1.4s;
	-o-animation-delay:1.4s;
	animation-delay:1.4s;
}

#fountainG_8{
	left:219px;
	-moz-animation-delay:1.54s;
	-webkit-animation-delay:1.54s;
	-ms-animation-delay:1.54s;
	-o-animation-delay:1.54s;
	animation-delay:1.54s;
}

@-moz-keyframes bounce_fountainG{
	0%{
		-moz-transform:scale(1);
		background-color:#000000;
	}

	100%{
		-moz-transform:scale(.3);
		background-color:#FFFFFF;
	}

}

@-webkit-keyframes bounce_fountainG{
	0%{
		-webkit-transform:scale(1);
		background-color:#000000;
	}

	100%{
		-webkit-transform:scale(.3);
		background-color:#FFFFFF;
	}

}

@-ms-keyframes bounce_fountainG{
	0%{
		-ms-transform:scale(1);
		background-color:#000000;
	}

	100%{
		-ms-transform:scale(.3);
		background-color:#FFFFFF;
	}

}

@-o-keyframes bounce_fountainG{
	0%{
		-o-transform:scale(1);
		background-color:#000000;
	}

	100%{
		-o-transform:scale(.3);
		background-color:#FFFFFF;
	}

}

@keyframes bounce_fountainG{
	0%{
		transform:scale(1);
		background-color:#000000;
	}

	100%{
		transform:scale(.3);
		background-color:#FFFFFF;
	}

}